<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.epam.ta.reportportal.log4j.appender" status="INFO">
    <properties>
        <property name="pattern">%d %p %c{2} [%t] %l %m%n</property>
    </properties>
    <appenders>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="${pattern}" />
        </ReportPortalLog4j2Appender>
        <Console name="Console">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="ReportPortalAppender" level = "info"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>